@model List<TaskPlanner.Models.Task>

<h1>Tasks</h1>
<ol>
    @foreach (var task in Model)
    {
        Html.RenderPartial("TaskPartial", task);
        Html.ActionLink("Create", "CreateSubTask", "Task");
    }
</ol>
@Html.ActionLink("Create new task", "Create", "Task")
@Html.ActionLink("Delete checked", "Delete", "Task")
@Html.ActionLink("List Category", "Index", "Category")